<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавление паттерна</title>
</head>
<body>
Добавить паттерн
<form th:action="@{addPattern}" th:object="${addPatternDTO}" th:method="POST" accept-charset="UTF-8">
    patternName:<input type="text" th:field="*{patternName}"><br>
    patternRule:<input type="text" th:field="*{patternRule}"><br>
    <button type="submit" value="addPattern">Сохранить</button>
</form>
<a th:href="@{/pattern}"> Вернуться к выбору паттерна</a>
</body>
</html>