<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Main Page</title>
</head>
<body>
Все паттерны
<div th:each="patternModel : ${listPatterns}">
    <a th:href="@{/row/{id}(id=${patternModel.getIdOfDescription()})}" th:text="${patternModel.getNameOfDescription()}">NameOfDescription</a>
</div>
<a th:href="@{/pattern/addPattern}"> Добваить паттерн</a>
<br>
<a th:href="@{/pattern/deletePattern}"> Удалить паттерн</a>
</body>
</html>
