<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Main Page</title>
</head>
<body>
Все паттерны
<div th:each="patternModel : ${listPatterns}">
    <a th:href="@{/row/{id}(id=${patternModel.getPatternId()})}" th:text="${patternModel.getPatternName()}">NameOfDescription</a>
    <a th:href="@{/pattern/deletePattern(patternId=${patternModel.getPatternId()}, patternName=${patternModel.getPatternName()})}"> Удалить паттерн</a>
</div>
<a th:href="@{/pattern/addPattern}"> Добваить паттерн</a>
</body>
</html>
