<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
</head>
<body>
<div>
    <p th:text="${message}"/>
    <p>
        <a th:href="@{/menu?nameOfFile=words.txt&description=In this dictionary, the length of words can be only 4 characters and these characters are only letters of the Latin layout}">Dictionary1</a>
    </p>
    <p>
        <a th:href="@{/menu?nameOfFile=chisla.txt&description=In this dictionary, the length of words can be only 5 characters and these characters are only numbers}">Dictionary2</a>
    </p>
    <p>
        <a th:href="@{/exit}">Exit</a>
    </p>
</div>
</body>
</html>