<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Главное меню</title>
</head>

<body>
<div>
    <p th:text="${message}"></p>
    <p>
        <a th:href="@{/menu?pattern=[a-zA-Z]{4}&nameOfFile=words.txt&description=В данном словаре длинна слов может быть только 4 символа и эти символы только буквы латинской раскладки}">Словарь букв</a>

    </p>
    <p>
        <a th:href="@{/menu?pattern=[0-9]{5}&nameOfFile=chisla.txt&description=В данном словаре длина слов может быть только 5 символа и эти символы только цифры.}">Словарь цифр</a>
    </p>
    <p>
        <a th:href="@{/exit}">Выход</a>
    </p>
</div>
</body>
</html>