<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8">
</head>
<body>
<div>
    <p th:text="${message}"/>
    <p>
        <a th:href="@{commands/viewAll}">Посмотреть все записи</a>
    </p>
    <p>
        <a th:href="@{commands/addPage}">Добавить запись</a>
    </p>
    <p>
        <a th:href="@{commands/deletePage}">Удалить запись</a>
    </p>
    <p>
        <a th:href="@{commands/searchPage}">Поиск записи</a>
    </p>
    <p>
        <a th:href="@{/exit}">Выход</a>
    </p>
</div>
</body>
</html>