<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
</head>
<body>
<div>
    <p th:text="${message}"/>
    <p>
        <a th:href="@{dictionaryMenu/viewAll}">View all</a>
    </p>
    <p>
        <a th:href="@{dictionaryMenu/add}">Add new</a>
    </p>
    <p>
        <a th:href="@{dictionaryMenu/delete}">Delete</a>
    </p>
    <p>
        <a th:href="@{dictionaryMenu/search}">Search</a>
    </p>
    <p>
        <a th:href="@{/exit}">Exit</a>
    </p>
</div>
</body>
</html>