<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
</head>
<body>
<div>
    <p th:text="${message}"/>
    <p>
        <a th:href="@{commands/viewAll}">View all</a>
    </p>
    <p>
        <a th:href="@{commands/addPage}">Add new</a>
    </p>
    <p>
        <a th:href="@{commands/deletePage}">Delete</a>
    </p>
    <p>
        <a th:href="@{commands/searchPage}">Search</a>
    </p>
    <p>
        <a th:href="@{/exit}">Exit</a>
    </p>
</div>
</body>
</html>