<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8">
</head>
<body>
<div>
    <p
            th:text="${message.getDescription()}">
    </p>
    <p>
        <a th:href="@{commands/viewAll}">Посмотреть все записи</a>
    </p>
    <p>
        <a th:href="@{commands/addPage?pattern={pattern}(pattern=${ruleOfDictionary.getPattern()})}">Добавить запись</a>
    </p>
    <p>
        <a th:href="@{commands/deletePage?pattern={pattern}(pattern=${ruleOfDictionary.getPattern()})}">Удалить запись</a>
    </p>
    <p>
        <a th:href="@{commands/searchPage?pattern={pattern}(pattern=${ruleOfDictionary.getPattern()})}">Поиск записи</a>
    </p>
    <p>
        <a th:href="@{/exit}">Выход</a>
    </p>
</div>
</body>
</html>