<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Row menu</title>
</head>
<body>
<table>
    <caption>Все строки выбранного словаря</caption>
    <colgroup style="background-color: bisque;">
        <col style="background-color: #c4daff;">
        <col>
    </colgroup>
    <tbody>

    <tr>
        <th>Слово</th>
        <th>Перевод</th>
    </tr>
    <div th:each="row : ${listRows}">
        <tr>
            <td><a th:text="${row.getWord()}">Слово</a></td>
            <td><a th:text="${row.getValue()}">Перевод</a></td>
            <td>
                <form th:method="POST" th:action="@{/row/deleteRow/{id}(id=${id})}" th:object="${deleteRowDTO}"
                      accept-charset="UTF-8">
                    <input type="hidden" th:name="idOfRow" th:value="${row.getIdOfRow}">
                    <button type="submit" value="deleteRow">Удалить</button>
                </form>
                <form th:method="POST" th:action="@{updateOld/{id}(id=${id})}" th:object="${updateRowDTO}"
                      accept-charset="UTF-8">
                    <input type="hidden" th:name="idOfRow" th:value="${row.getIdOfRow()}">
                    <input type="hidden" th:name="pattern" th:value="${row.getPattern()}">
                    <input type="hidden" th:name="value" th:value="${row.getValue()}">
                    <button type="submit" value="updateRow">Изменить</button>
                </form>
            </td>
        </tr>
    </div>
    </tbody>
</table>
<a th:href="@{/row/addRow/{id}(id=${id})}"> Добваить строку</a>
<br>
<a th:href="@{/row/searchRowByWord/{id}(id=${id})}">Поиск по ключу</a>
<br>
<a th:href="@{/row/searchRowByValue/{id}(id=${id})}">Поиск по значению</a>
<br>
<a th:href="@{/pattern}"> Вернуться к выбору паттерна</a>
</body>
</html>
