<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete row</title>
</head>
<body>
Удалить строку
<form th:action="@{{patternId}(patternId=${patternId})}" th:object="${deleteRowDTO}" th:method="POST" accept-charset="UTF-8">
    <a th:text="'Вы уверены, что хотите удалить слово '+${word}+'?'"></a>
    <input type="hidden" th:name="idOfRow" th:value="${rowId}"><br>
    <button type="submit" value="deleteRow">удалить</button>
</form>
<a th:href="@{/row/{patternId}(patternId=${patternId})}"> Вернуться к выбору строк</a>
</body>
</html>