<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete row</title>
</head>
<body>
Удалить строку
<form th:action="@{{idOfChosenPattern}(idOfChosenPattern=${idOfChosenPattern})}" th:object="${deleteRowDTO}" th:method="POST" accept-charset="UTF-8">
    ID:<input type="text" th:field="*{idOfRow}"><br>
    <button type="submit" value="deletePattern">удалить</button>
</form>
<a th:href="@{/row/{idOfChosenPattern}(idOfChosenPattern=${idOfChosenPattern})}"> Вернуться к выбору строк</a>
</body>
</html>