<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Поиск строки</title>
</head>
<body>
Введите слово, которое хотите найти
<form th:action="@{result/{idOfChosenPattern}(idOfChosenPattern=${idOfChosenPattern})}" th:method="GET" th:object="${searchRowDTO}" accept-charset="UTF-8">
    <input type="hidden" th:name="patternId" th:value="${idOfChosenPattern}"/>
    <input type="text" th:field="*{word}" required>
    <button type="submit" value="searchRow">Найти</button>
</form>
<a th:href="@{/row/{idOfChosenPattern}(idOfChosenPattern=${idOfChosenPattern})}"> Вернуться к выбору строк</a>
</body>
</html>